@model Core8MVC.Models.Models.Product

<div class="card shadow border-0" style="margin-bottom: 60px !important">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Delete Product</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post">
            <div class="border p-3 mt-4">                
                <input asp-for="Id" style="display:none" />
                <div asp-validation-summary="All" class="text-danger">
                </div>

                <div style="margin-top: 10px;margin-bottom: 10px;">
                    <label asp-for="Title" class="p-0">

                    </label>
                    <input asp-for="Title" class="form-control" disabled/>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div style="margin-top: 10px;margin-bottom: 10px;">
                    <label asp-for="Description" class="p-0">
                        Description
                    </label>
                    <textarea asp-for="Description" class="form-control" disabled></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div style="margin-top: 10px;margin-bottom: 10px;">
                    <label asp-for="ISBN" class="p-0">

                    </label>
                    <input asp-for="ISBN" class="form-control" disabled />
                    <span asp-validation-for="ISBN" class="text-danger"></span>
                </div>
                <div style="margin-top: 10px;margin-bottom: 10px;">
                    <label asp-for="Author" class="p-0">

                    </label>
                    <input asp-for="Author" class="form-control" disabled />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
                <div style="margin-top: 10px;margin-bottom: 10px;">
                    <label asp-for="ListPrice" class="p-0">

                    </label>
                    <input asp-for="ListPrice" class="form-control" disabled />
                    <span asp-validation-for="ListPrice" class="text-danger"></span>
                </div>
                <div style="margin-top: 10px;margin-bottom: 10px;">
                    <label asp-for="Price" class="p-0">

                    </label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div style="margin-top: 10px;margin-bottom: 10px;">
                    <label asp-for="Price50" class="p-0">

                    </label>
                    <input asp-for="Price50" class="form-control" disabled />
                    <span asp-validation-for="Price50" class="text-danger"></span>
                </div>
                <div style="margin-top: 10px;margin-bottom: 10px;">
                    <label asp-for="Price100" class="p-0">

                    </label>
                    <input asp-for="Price100" class="form-control" disabled />
                    <span asp-validation-for="Price100" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col-6 col-md-3">
                        <button asp-controller="Product" asp-action="DeleteProduct" asp-route-id="Id" type="submit" class="btn btn-danger  form-control">Delete</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Product" asp-action="Index" class="btn btn-secondary border form-control">Back to List</a>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>



@* @section Scripts
{
    @{
    <partial name="_ValidationScriptsPartial.cshtml" />
    }
} *@