@model Core8MVC.Models.ViewModels.ProductVM

<div class="card shadow border-0" style="margin-bottom: 60px !important">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@((Model.Product.Id == null || Model.Product.Id == 0) ? "Create" : "Update") Product</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">                                                    
            <div class="border p-3 mt-4">
                <input asp-for="Product.Id" class="form-control" hidden/>
                @* <input asp-for="Product.ImageURL" class="form-control" hidden /> *@
                <div asp-validation-summary="All" class="text-danger">
                </div>
                <div style="margin-top: 10px;margin-bottom: 10px;">
                    <label asp-for="Product.Title" class="p-0">

                    </label>
                    <input asp-for="Product.Title" class="form-control" />
                    <span asp-validation-for="Product.Title" class="text-danger"></span>
                </div>
                <div style="margin-top: 10px;margin-bottom: 10px;">
                    <label asp-for="Product.Description" class="p-0">
                        Description
                    </label>
                    <input id="div_editor1" asp-for="Product.Description" class="form-control"></input>
                    @* <input asp-for="Product.Description" class="form-control"></input> *@
                    <span asp-validation-for="Product.Description" class="text-danger"></span>
                </div>                                 
                <div style="margin-top: 10px;margin-bottom: 10px;">
                    <label asp-for="Product.ISBN" class="p-0">

                    </label>
                    <input asp-for="Product.ISBN" class="form-control" />
                    <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                </div>
                <div style="margin-top: 10px;margin-bottom: 10px;">
                    <label asp-for="Product.Author" class="p-0">

                    </label>
                    <input asp-for="Product.Author" class="form-control" />
                    <span asp-validation-for="Product.Author" class="text-danger"></span>
                </div>
                <div style="margin-top: 10px;margin-bottom: 10px;">
                    <label asp-for="Product.ListPrice" class="p-0">

                    </label>
                    <input asp-for="Product.ListPrice" class="form-control" />
                    <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                </div>
                <div style="margin-top: 10px;margin-bottom: 10px;">
                    <label asp-for="Product.Price" class="p-0">

                    </label>
                    <input asp-for="Product.Price" class="form-control" />
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>
                <div style="margin-top: 10px;margin-bottom: 10px;">
                    <label asp-for="Product.Price50" class="p-0">

                    </label>
                    <input asp-for="Product.Price50" class="form-control" />
                    <span asp-validation-for="Product.Price50" class="text-danger"></span>
                </div>
                <div style="margin-top: 10px;margin-bottom: 10px;">
                    <label asp-for="Product.Price100" class="p-0">

                    </label>
                    <input asp-for="Product.Price100" class="form-control" />
                    <span asp-validation-for="Product.Price100" class="text-danger"></span>
                </div>
                <div style="margin-top: 10px;margin-bottom: 10px;">
                    <label asp-for="Product.CategoryId" class="p-0">

                    </label>
                    <select asp-for="Product.CategoryId" asp-items="@Model.Categories" class="form-select border">
                    @* <select asp-for="CategoryId" asp-items="ViewBag.CategoryList" class="form-select border"> *@
                    @* <select asp-for="CategoryId" asp-items=@(ViewData["CategoryList"] as IEnumerable<SelectedListItems>) class="form-select border"> *@
                        <option disabled selected>Select Category</option>
                    </select>
                    <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                </div>

                @* <div style="margin-top: 10px;margin-bottom: 10px;">
                    <label asp-for="Product.ImageURL" class="p-0">
                    </label>
                    <input type="file" name="file" class="form-control" />
                    <span asp-validation-for="Product.ImageURL" class="text-danger"></span>
                </div> *@
               @*  @{
                    if (!string.IsNullOrEmpty(Model.Product.ImageURL))
                    {
                        <div style="margin-top: 10px;margin-bottom: 10px; max-width:500px">
                            <img src="@Url.Content("~/"+@Model.Product.ImageURL)" style="border-radius:5px; border: 1px solid" />
                        </div>
                    }
                } *@                
                <div class="row">
                    <div class="col-6 col-md-3">
                        @{
                            if (Model.Product.Id == null || Model.Product.Id==0)
                            {
                                    <button asp-controller="Product" asp-action="UpsertProduct" type="submit" class="btn btn-primary  form-control" >Create</button>

                            }
                            else
                            {
                                    <button asp-controller="Product" asp-action="UpsertProduct" type="submit" class="btn btn-primary  form-control">Update</button>
                            }
                        }
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Product" asp-action="Index" class="btn btn-secondary border form-control">Back to List</a>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

@* @section Scripts
{
    @{
    <partial name="_ValidationScriptsPartial.cshtml" />
    }
} *@